In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

25/03/05 18:34:21 WARN Utils: Your hostname, MacBook-Air-2.local resolves to a loopback address: 127.0.0.1; using 10.23.121.1 instead (on interface en0)
25/03/05 18:34:21 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/05 18:34:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [4]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [5]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [6]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [7]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [8]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [9]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [10]:
df_green = df_green \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [11]:
df_yellow = df_yellow \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [12]:
common_columns = []

yellow_columns = set(df_yellow.columns)
for col in df_green.columns:
        if col in yellow_columns:
            common_columns.append(col)

In [13]:
common_columns

['VendorID',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [14]:
df_green_filter = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [26]:
df_yellow_filter = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [27]:
df_trips_data = df_green_filter.unionAll(df_yellow_filter)

In [28]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [29]:
df_trips_data.registerTempTable('trips_data')

In [19]:
spark.version

'3.5.5'

In [31]:
df_result = spark.sql("""
    SELECT 
        -- Revenue grouping 
        PULocationID AS revenue_zone,
        date_trunc("month", "pickup_datetime") AS revenue_month, 
        service_type, 
    
        -- Revenue calculation 
        SUM(fare_amount) AS revenue_monthly_fare,
        SUM(extra) AS revenue_monthly_extra,
        SUM(mta_tax) AS revenue_monthly_mta_tax,
        SUM(tip_amount) AS revenue_monthly_tip_amount,
        SUM(tolls_amount) AS revenue_monthly_tolls_amount,
        SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
        SUM(total_amount) AS revenue_monthly_total_amount,
    
        -- Additional calculations
        AVG(passenger_count) AS avg_monthly_passenger_count,
        AVG(trip_distance) AS avg_monthly_trip_distance
    
    FROM 
        trips_data
    GROUP BY 
        1, 2, 3
    """)

In [33]:
df_result.show()

+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
|revenue_zone|revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|avg_monthly_passenger_count|avg_monthly_trip_distance|
+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
|         254|         NULL|       green|   278150.7100000003|   11320.519999999999|                  854.5|                    9569.9|          13415.779999999926|                    2786.100000000053|           316342.1099999996|          1.138095238095238|         249.571459624068|
|          38|         NULL|       green|   82767.61000000003|               2537.6|                  237.5|        2433.5299999999997|          3530.9100000000017|                    664.1999999999985|           92221.79999999999|         1.1342925659472423|       151.58323426573418|
|         229|         NULL|       green|  13658.470000000001|                689.3|                   23.0|                    388.43|           789.1000000000003|                   132.00000000000014|          15699.050000000001|         1.2222222222222223|         8.25965986394558|
|         188|         NULL|       green|   430873.5499999996|             21162.42|                 1931.0|        19095.489999999998|           6813.589999999999|                    5714.399999999857|          486763.99999999744|         1.1596080910240203|         82.2765444945663|
|         232|         NULL|       green|  40609.979999999996|   1913.9500000000003|                  64.55|        1314.6000000000001|                     1395.41|                    403.4999999999988|          45729.539999999986|          1.069767441860465|        261.1684855233853|
|          91|         NULL|       green|  250313.21999999977|   12562.129999999997|                  787.0|                   8716.69|           6357.609999999993|                    2745.300000000032|          281822.25000000064|         1.1644120707596255|       150.86490212498686|
|         134|         NULL|       green|  237161.70999999985|              10112.5|                 5852.0|        17749.849999999984|           4267.539999999999|                    4513.199999999795|            280469.150000006|         1.3807110815750125|       14.592568801313647|
|         241|         NULL|       green|  146435.97000000012|    4976.450000000002|                  874.5|                   5909.28|          5791.5999999999985|                   1537.2000000000153|           165902.9499999994|         1.1257344300822563|        142.7736909709105|
|         101|         NULL|       green|  39496.089999999975|   1367.1999999999998|                  112.0|        1092.3700000000001|           952.1200000000001|                    323.9999999999992|           43368.63000000003|                        1.2|       195.69598389982121|
|          93|         NULL|       green|  30308.010000000002|    655.6500000000001|                  297.5|                   2848.06|          1195.7500000000005|                   314.09999999999917|           35931.47000000003|         1.3621399176954732|        7.395726179463459|
|         118|         NULL|       green|   4471.259999999999|                41.25|                   25.5|                     90.87|           650.9100000000001|                   23.699999999999996|                     5303.49|          1.169811320754717|       18.348101265822784|
|         189|         NULL|       green|   94516.57999999994|              4349.99|                 1131.0|         7784.499999999996|           769.1300000000001|                   1469.4000000000149|          111309.84999999971|         1.2221715328467153|       100.36491477842385|
|         153|         NULL|       green|   44446.14000000001|               1739.6|                  314.0|                   1898.36|           836.8100000000003|                    538.4999999999975|           49846.36000000002|         1.1730769230769231|        85.14134782608694|
|         221|         NULL|       green|             4423.11|                 43.0|                   25.5|         97.50999999999999|                      650.65|                   25.199999999999996|                     5278.72|         1.5272727272727273|       15.346785714285716|
|          76|         NULL|       green|   519384.7099999934|   22772.819999999992|                 1959.0|        17321.469999999998|          16248.769999999871|                    5437.199999999845|           583539.5200000022|         1.2111475409836066|           79.12579277698|
|         225|         NULL|       green|   327440.7999999993|   15683.279999999995|                 1740.5|                  14035.02|           6848.679999999995|                    4104.899999999983|          370806.52999999915|          1.153555479216764|         26.1923850756776|
|         227|         NULL|       green|  145901.41000000024|              4067.25|                  700.5|                   5313.89|          1879.9700000000005|                    1220.700000000004|           159232.0199999995|          1.043778801843318|       30.871060496505237|
|          94|         NULL|       green|   82998.72000000006|   3515.7000000000003|                  562.0|                   3282.34|          2794.8600000000015|                   1018.7999999999985|            94344.3199999999|         1.1953612845673507|        75.99355281992555|
|          52|         NULL|       green|  204883.62999999995|               6166.2|                 7813.5|         30908.16999999994|          1451.2800000000004|                    4981.799999999765|          262175.63000000594|         1.2154023577652486|        5.637083707293722|
|         160|         NULL|       green|   46051.62000000001|   1986.9499999999998|                  224.0|                   2058.21|          1289.8200000000004|                    539.0999999999981|          52245.799999999996|         1.2039473684210527|         9.66249048395868|
+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
only showing top 20 rows

In [34]:
df_result.coalesce(1).write.parquet('data/report/revenue/')

In [ ]:
spark.stop()