In [29]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [ ]:
credentials_location = '/Users/xiaozhuxin/.google/credentials/google_credentials.json'

conf = SparkConf() \
    .setMaster('spark://MacBook-Air-2.local:7077') \
    .setAppName('test') \
    .set("spark.jars", "./lib/gcs-connector-hadoop3-2.2.5.jar") \
    .set("spark.hadoop.google.cloud.auth.service.account.enable", "true") \
    .set("spark.hadoop.google.cloud.auth.service.account.json.keyfile", credentials_location)

In [ ]:
sc = SparkContext(conf=conf)

hadoop_conf = sc._jsc.hadoopConfiguration()

hadoop_conf.set("fs.AbstractFileSystem.gs.impl",  "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")
hadoop_conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
hadoop_conf.set("fs.gs.auth.service.account.json.keyfile", credentials_location)
hadoop_conf.set("fs.gs.auth.service.account.enable", "true")

In [13]:
spark = SparkSession.builder \
    .config(conf=sc.getConf()) \
    .getOrCreate()

25/04/11 21:44:52 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [14]:
df_green = spark.read.parquet('gs://terraform-introduction-449023-terra-bucket/pq/green/*/*')

In [15]:
df_green.count()

2304517

In [16]:
df_green.registerTempTable('green')

/usr/local/Cellar/apache-spark/3.5.5/libexec/python/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [17]:
df_green_revenue = spark.sql("""
    SELECT 
        -- Revenue grouping 
        date_trunc('hour', lpep_pickup_datetime) AS hour,
        PULocationID AS zone,
        SUM(total_amount) AS amount,
        COUNT(1) AS number_records
    FROM 
        green
    WHERE
        lpep_pickup_datetime >= '2020-01-01 00:00:00'
    GROUP BY 
        1, 2
    """)

In [18]:
# df_green_revenue.write.mode('overwrite').parquet('data/report/revenue/green/')

In [19]:
df_yellow = spark.read.parquet('gs://terraform-introduction-449023-terra-bucket/pq/yellow/*/*')

In [20]:
df_yellow.registerTempTable('yellow')

In [21]:
df_yellow_revenue = spark.sql("""
    SELECT 
        -- Revenue grouping 
        date_trunc('hour', tpep_pickup_datetime) AS hour,
        PULocationID AS zone,
        SUM(total_amount) AS amount,
        COUNT(1) AS number_records
    FROM 
        yellow
    WHERE
        tpep_pickup_datetime >= '2020-01-01 00:00:00'
    GROUP BY 
        1, 2
    """)

In [22]:
# df_yellow_revenue.write.mode('overwrite').parquet('data/report/revenue/yellow/')

In [23]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [24]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [25]:
common_columns = []

yellow_columns = set(df_yellow.columns)
for col in df_green.columns:
        if col in yellow_columns:
            common_columns.append(col)

In [26]:
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [30]:
df_green_filter = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [31]:
df_yellow_filter = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [32]:
df_trips_data = df_green_filter.unionAll(df_yellow_filter)

In [33]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [34]:
df_trips_data.registerTempTable('trips_data')

In [35]:
df_result = spark.sql("""
    SELECT 
        -- Revenue grouping 
        PULocationID AS revenue_zone,
        date_trunc('month', pickup_datetime) AS revenue_month, 
        service_type, 
    
        -- Revenue calculation 
        SUM(fare_amount) AS revenue_monthly_fare,
        SUM(extra) AS revenue_monthly_extra,
        SUM(mta_tax) AS revenue_monthly_mta_tax,
        SUM(tip_amount) AS revenue_monthly_tip_amount,
        SUM(tolls_amount) AS revenue_monthly_tolls_amount,
        SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
        SUM(total_amount) AS revenue_monthly_total_amount,
    
        -- Additional calculations
        AVG(passenger_count) AS avg_monthly_passenger_count,
        AVG(trip_distance) AS avg_monthly_trip_distance
    
    FROM 
        trips_data
    GROUP BY 
        1, 2, 3
    """)

In [36]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|avg_monthly_passenger_count|avg_monthly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
|         218|2020-01-01 00:00:00|       green|  24689.350000000126|              1561.75|                  121.5|                      18.7|           735.9000000000004|                    246.0000000000036|          27375.149999999958|         1.0754716981132075|        6.732052451539335|
|          85|2020-01-01 00:00:00|       green|   19874.88000000006|               1476.5|                  187.5|        165.89999999999998|           354.6800000000002|                   233.70000000000314|            22320.9099999999|         1.3349753694581281|       4.4563455149501605|
|         116|2019-12-01 00:00:00|       green|               21.59|                  1.0|                    1.0|                      4.95|                         0.0|                   0.8999999999999999|          29.439999999999998|                        1.0|       0.6366666666666666|
|          93|2020-02-01 00:00:00|       green|  3652.9799999999996|                131.0|                   45.0|                    148.47|           87.96999999999998|                    39.60000000000005|           4123.470000000002|          1.380952380952381|        6.566783216783216|
|         143|2020-02-01 00:00:00|       green|  1420.3600000000004|               130.25|                    3.0|                       0.0|           73.43999999999998|                   13.800000000000004|          1640.8500000000001|                        1.0|        8.347391304347827|
|         225|2020-02-01 00:00:00|       green|  41648.030000000086|              3508.75|                  396.5|        367.58000000000004|           671.9200000000004|                   506.40000000000776|           47254.72999999985|         1.1892332789559543|        4.282854030501086|
|         112|2020-01-01 00:00:00|       green|  21761.030000000017|               1034.0|                  703.0|        2487.4200000000014|           308.6100000000001|                    452.7000000000114|           27470.10999999962|         1.2766407904022583|       3.4783365695792865|
|         250|2020-02-01 00:00:00|       green|  15359.960000000034|               1282.5|                  117.5|                     56.01|           590.3200000000004|                   179.99999999999926|           17598.43999999997|         1.2394957983193278|        4.962810650887571|
|          63|2020-02-01 00:00:00|       green|  10573.399999999998|                759.5|                   57.0|        32.830000000000005|          405.85000000000014|                    99.29999999999968|          11934.529999999997|         1.0609756097560976|        7.083547486033517|
|         221|2020-02-01 00:00:00|       green|  438.09000000000003|                  7.5|                    2.5|                      3.45|                        91.8|                                  2.1|           545.4399999999999|                        1.0|       19.342857142857145|
|         158|2020-02-01 00:00:00|       green|              124.36|                 8.25|                    0.5|                       0.0|                         2.8|                   0.8999999999999999|                      136.81|                       NULL|       11.090000000000002|
|          67|2020-02-01 00:00:00|       green|   7261.509999999997|               515.25|                   41.0|                     15.71|          234.85000000000005|                    69.29999999999991|           8141.520000000001|         1.1016949152542372|        475.5992692307694|
|          39|2020-01-01 00:00:00|       green|   60305.34999999994|               3876.0|                  491.0|                     29.63|          1069.9199999999996|                    561.0000000000063|           66334.85000000037|         1.2745098039215685|        6.203130280124502|
|          26|2020-01-01 00:00:00|       green|   27098.79000000009|              1743.25|                  221.5|        121.73000000000002|           551.2800000000003|                   292.50000000000534|           30034.89999999984|         1.1054852320675106|        4.771315789473691|
|         147|2020-02-01 00:00:00|       green|   8909.839999999991|                678.5|                   74.5|                     42.99|           323.6400000000001|                   105.29999999999968|          10140.270000000011|                    1.14375|        4.952959183673468|
|         165|2020-01-01 00:00:00|       green|  24802.129999999997|               1549.0|                  189.5|        101.14999999999998|          495.95000000000033|                   268.80000000000445|           27427.27999999993|         1.1891891891891893|        4.462666025024061|
|         193|2020-01-01 00:00:00|       green|  22288.570000000032|              1121.25|                  659.0|        1335.6800000000003|           232.4600000000001|                    497.7000000000131|           27003.40999999962|         1.1738019169329073|       2.6420300362506453|
|         124|2020-01-01 00:00:00|       green|   7916.269999999997|                464.5|                   52.5|                     15.56|          285.27000000000004|                    74.99999999999964|                      8809.1|         1.0185185185185186|         7.09040590405904|
|         244|2020-01-01 00:00:00|       green|   186755.7100000006|              6773.25|                 4933.0|        19220.349999999868|           3665.569999999985|                   3244.2000000005064|           232629.0299999776|           1.33827209930924|        4.355255763688768|
|         136|2020-01-01 00:00:00|       green|   26839.71000000001|               1675.5|                  215.0|                      93.9|           692.2500000000002|                   273.90000000000464|          29808.709999999803|         1.1654411764705883|        5.947148325358854|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
only showing top 20 rows

In [36]:
# df_result.coalesce(1).write.mode("overwrite").parquet('data/report/revenue/')

In [37]:
spark.stop()